body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
	width: 450px;
	margin: 0 autp;
	padding: 0 2em 1em;
	border: 2px solid red;
	
}

h1 {
	color: red;
	margin-bottom: .25em;
	
}

label {
	float: left;
	width: 11em;
	text-align: left;
	
}

input {
	margin-left: 1em;
	margin-bottom: .5em;
	margin-right: .5em;
	width: 11em;
}

span {
	color: red;
}